<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STPRequest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <STPRequest.Properties.Settings>
            <setting name="MailUser" serializeAs="String">
                <value>donotreply</value>
            </setting>
            <setting name="MailDomain" serializeAs="String">
                <value>bzklinika.ru</value>
            </setting>
            <setting name="MailCopy" serializeAs="String">
                <value />
            </setting>
            <setting name="MailSmtpServer" serializeAs="String">
                <value>mail.bzklinika.ru</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>klNhr1hi9qp55weewAXd</value>
            </setting>
            <setting name="RequestFolderPath" serializeAs="String">
                <value>\\mscs-fs-01\stp_request\</value>
            </setting>
        </STPRequest.Properties.Settings>
    </userSettings>
</configuration>